<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.induk.cinema.repository.AppraisalRepository">
    <select id="findAll" resultType="Appraisal">
        select * from appraisal
    </select>

    <select id="findByMovieId" resultType="com.induk.cinema.dto.AppraisalForm">
        select ap.*, m.name as memberName, m.image as memberImage
        from appraisal ap
        left join member m on ap.member_id = m.id
        where ap.movie_id = #{id}
        order by ap.like_count desc
    </select>

    <select id="findById" parameterType="Long" resultType="Appraisal">
        select * from appraisal where id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="Appraisal">
        insert into appraisal(movie_id, member_id, title, content, grade, like_count, hate_count, reporting_date)
        values (#{movieId}, #{memberId}, #{title}, #{content}, #{grade}, #{likeCount}, #{hateCount}, #{reportingDate})
    </insert>

    <update id="update" parameterType="com.induk.cinema.dto.AppraisalUpdateForm">
        update appraisal
        set title=#{titleUpdate}, content=#{contentUpdate}, grade=#{grade}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from appraisal where id = #{id}
    </delete>

    <update id="likeInc" parameterType="java.util.Map">
        update appraisal
        set like_count=#{likeCount}
        where id=#{id}
    </update>

    <update id="hateInc" parameterType="java.util.Map">
        update appraisal
        set hate_count=#{hateCount}
        where id=#{id}
    </update>
</mapper>
