<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.induk.cinema.repository.TheaterRepository">
<resultMap id="resultTheater" type="com.induk.cinema.domain.Theater">
    <id property="id" column="id"/>
    <result property="cinema_id" column="cinema_id"/>
    <result property="name" column="name"/>
    <result property="seat_count" column="seat_count"/>
    <association property="theaterCinema" javaType="com.induk.cinema.dto.TheaterCinema">
        <result property="cinemaName" column="cinemaName"/>
    </association>
</resultMap>

    <select id="findAll" resultMap="resultTheater">
        select theater.*, cinema.name as cinemaName from theater left join cinema on theater.cinema_id = cinema.id order by cinema.city_id asc, cinemaName desc, theater.name asc
    </select>

    <select id="findCinema" resultType="com.induk.cinema.domain.Cinema">
        select * from cinema order by city_id asc
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.induk.cinema.domain.Theater">
        insert into theater(cinema_id, name, seat_count)
        values (#{cinema_id}, #{name}, #{seat_count})
    </insert>

    <select id="findById" parameterType="Long" resultMap="resultTheater">
        select theater.*, cinema.name as cinemaName from theater left join cinema on theater.cinema_id = cinema.id where theater.id = #{id}
    </select>

    <select id="findByCinemaId" parameterType="Long" resultType="String">
        select name from cinema where id = #{id}
    </select>

    <update id="update" parameterType="Theater">
        update theater
        set cinema_id=#{cinema_id}, name=#{name}, seat_count=#{seat_count}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from theater where id = #{id}
    </delete>
</mapper>
